<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mageFactory" class="io.itlabs.springtraining.domain.person.MageFactory"/>


    <bean id="aragorn" class="io.itlabs.springtraining.domain.person.Human">
        <qualifier value="kind"/>
        <constructor-arg name="name" value="Aragorn"/>
    </bean>

    <bean id="legolas" class="io.itlabs.springtraining.domain.person.Elf" factory-method="withName">
        <qualifier value="kind"/>
        <constructor-arg name="name" value="Legolas"/>
    </bean>

    <bean id="gandalf" factory-method="withName" factory-bean="mageFactory">
        <qualifier value="kind"/>
        <constructor-arg name="name" value="Gandalf"/>
    </bean>

    <bean id="frodo" class="io.itlabs.springtraining.domain.person.Hobbit">
        <qualifier value="kind"/>
        <property name="name" value="Frodo"/>
        <property name="weapons">
            <list>
                <ref bean="dagger"/>
            </list>
        </property>
    </bean>

    <bean id="sam" class="io.itlabs.springtraining.domain.person.Hobbit">
        <qualifier value="kind"/>
        <property name="name" value="Sam"/>
        <property name="weapons">
            <list>
                <ref bean="dagger"/>
            </list>
        </property>
    </bean>

</beans>
